#root {
    margin: 0 auto;
}

main {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 1em;
    background: linear-gradient(#cccccc, #777777);
}

#home-img {
    max-width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 70%;
}