form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0.2em;
    width: 10rem;
    padding: 0.5em;
}

textarea {
    margin: 0.2em;
    width: 10rem;
    height: 5rem;
    padding: 0.5em;
    resize: none;
}