header {
    height: 100px;
    background-color: #dddddd;
}

nav {
    position: absolute;
    right: 1em;
    top: 1em;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav li {
    list-style: none;
    text-align: center;
}


li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    width: 70px;
    height: 30px;
    border-radius: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em;
}

li a:hover {
    background-color: #777777;
}

.active {
    background-color: rgb(70, 70, 255);
}